# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Build and Release Folders
bin/
bin-debug/
bin-release/
HitomiMob/bin/
HitomiMob/bin-debug/
HitomiMob/bin-release/
HitomiWeb/bin/
HitomiWeb/bin-debug/
HitomiWeb/bin-release/
HitomiMob/bin-release-temp/
HitomiWeb/release
outputfolder/

# Other files and folders
.settings/
HitomiMob/.settings/
HitomiWeb/.settings/

# Orig files from merge
*.orig
